body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator-container {
	display: flex;
	border: 1px solid red;
	flex-flow: row wrap;
	width: 150px;
	height: 300px;
}

.calculator-container div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: auto;
	border: 1px dotted blue;
}

.output {
	min-width:30px;
	min-height:20px;
	width: 20%;
	background-color: lightgrey;
}

.activeBttn {
  background-color: teal;
}