body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.calc-container {
	width: 156px;
	border: 1px solid rgb(207, 207, 207);
	box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.output {
	min-width:30px;
	min-height:20px;
}

.interactive-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	border: 0;
	padding: 0;
	margin: 0;
}

.operator {
	color: green;
}

.clear {
	color: rgb(230, 60, 18);
}

.result {
	background-color: green;
	color: white;
}

.activeBttn {
	background-color: teal;
	color: white;
}

.buttons-top {
	display: flex;
	align-self: flex-end;
	
	flex: 1 100%;
}

#undo {
	padding: 0 4px;
	margin: 2px;
	border-radius: 40%;
}

.buttons-main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 10px;
	margin: 2px;
	
}

.item {
	display: flex;
	width: 30px;
	border-radius: 40%;
	align-items: center;
	justify-content: center;
	
}




